@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("./fonts/NeueHaasGroteskTextPro.woff2") format("woff2"),
    url("./fonts/NeueHaasGroteskTextPro.woff") format("woff");
  font-style: normal;
}

