.invoice-list-container {
  .invoice-date {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: var(--text-black);
  }

  .invoice-card {
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
    margin: 25px 0;
    width: 100%;
    flex-wrap: wrap;
  }

  .invoice-info {
    display: flex;
    flex-direction: column;
    max-width: 112px;
  }

  .invoice-number {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey);
  }

  .due-date {
    font-size: 12px;
    color: #666f77;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    margin-bottom: 3px;
  }

  .invoice-due {
    font-size: 14px;
    color: var(--text-grey);
    font-weight: bold;
  }

  .invoice-details {
    width: 163px;
    text-align: right;
  }

  .invoice-amount {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: var(--dark-grey);
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 576px) {
    .invoice-card {
      padding: 8px 20px;
    }
    .invoice-info {
      flex-basis: 100%;
      min-width: 100%;
    }

    .invoice-timestamp,
    .invoice-details {
      flex-basis: 50%;
      width: 50%;
    }
  }
}

.activity {
  display: flex;
  .image {
    img {
      border-radius: 50%;
    }
  }

  .activity-details {
    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 22.37px;
      color: var(--black-color);
    }

    .time-stamp {
      font-size: 14px;
      font-weight: 300;
      line-height: 22.4px;
      letter-spacing: 0.003em;
      color: var(--text-grey);
    }

    .description {
      font-size: 14px;
      font-weight: 500;
      line-height: 22.4px;
      letter-spacing: 0.003em;
      color: var(--text-black);
      background-color: var(--text-light-grey);
      border-radius: 16px;
      padding: 16px;
      width: 100%;

      span {
        color: var(--text-grey);
        font-weight: 400;
      }
    }
  }
}


.status-badge {
    padding: 6px 24px;
    width: fit-content;
    border-radius: 24px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 0.06em;
    margin-left: auto;
  }