:root {
  --white-color: #ffffff;
  --primary-color: #003eff;
  --primary: #003eff;
  --grey-color: #f5f6fa;
  --dark-grey: #373b47;
  --text-grey: #697598;
  --text-light-grey: #F6F8FA;
  --text-black: #1f1f23;
  --font-size-base: 16px;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}
