.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &-show {
    opacity: 1;
    visibility: visible;
  }

  &-hide {
    opacity: 0;
    visibility: hidden;
  }

  .modal-content {
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    height: calc(100vh - 30px);
    width: calc(100vw - 50px);
    margin-top: -20px;

    .children-content {
      height: calc(100% - 70px);
      margin-top: 69px;
      background-color: var(--white-color);
      border-radius: 40px;
      width: 100%;
      padding: 40px;
      overflow-y: auto;
    }

    .modal-close {
      height: 64px;
      width: 64px;
      float: right;
      background-color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    @media only screen and (max-width: 1024px) {
      margin-top: 10px;
      width: calc(100vw - 20px);
      height: calc(100vh - 20px);
    }

    @media only screen and (max-width: 768px) {
      margin-top: -10px;
      height: calc(100vh - 10px);
      width: calc(100vw - 5px);

      .children-content {
        padding:30px 20px;
      }
    }
  }

  &-show .modal-content {
    transform: translateY(0);
  }

  &-hide .modal-content {
    transform: translateY(-100px);
  }
}
